<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (submit)="submitForm()">
      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="numTarjeta"
            placeholder="Número de tarjeta"
            [ngClass]="
              form.get('numTarjeta').dirty && form.get('numTarjeta').errors
                ? 'is-invalid'
                : ''
            "
            (blur)="touchField(form.get('numTarjeta'))"
          />

          <div
            *ngIf="
              form.get('numTarjeta').dirty && form.get('numTarjeta').errors
            "
            class="invalid-feedback"
          >
            Por favor escriba un número de tarjeta
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="ccv"
            placeholder="CCV"
            [ngClass]="
              form.get('ccv').dirty && form.get('ccv').errors
                ? 'is-invalid'
                : ''
            "
            (blur)="touchField(form.get('ccv'))"
          />

          <div
            *ngIf="form.get('ccv').dirty && form.get('ccv').errors"
            class="invalid-feedback"
          >
            Por favor escriba un CCV
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Tipo de tarjeta"
            formControlName="tipoTarjeta"
            [ngClass]="
              form.get('tipoTarjeta').dirty && form.get('tipoTarjeta').errors
                ? 'is-invalid'
                : ''
            "
            (blur)="touchField(form.get('tipoTarjeta'))"
          />

          <div
            *ngIf="
              form.get('tipoTarjeta').dirty && form.get('tipoTarjeta').errors
            "
            class="invalid-feedback"
          >
            Por favor escriba un tipo de tarjeta
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!form.valid || isSaving"
        class="btn btn-primary"
      >
        <ng-container *ngIf="!isSaving">Guardar</ng-container>
        <div *ngIf="isSaving" class="spinner-border"></div>
      </button>

      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    </form>
  </div>
</div>
